<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/layout.css">
    <title>colaboradores</title>
</head>
<body>
    <main>
  <div class="colaborador-header">
    <h2>Maria Silva</h2>
    <img src="/public/images/colaboradores/maria.jpg" alt="Maria Silva" />
  </div>

  <section class="resumo-mensal">
    <h3>Parcial</h3>
    <table>
      <tr><td>Total de dias trabalhados:</td><td>22</td></tr>
      <tr><td>Total de faltas:</td><td>2</td></tr>
      <tr><td>Total de horas mensais:</td><td>176h</td></tr>
    </table>
  </section>

  <section class="tabela-ponto">
    <h3>Ponto</h3>
    <table>
      <thead>
        <tr>
          <th>Dia</th>
          <th>Data</th>
          <th>Manhã</th>
          <th>Tarde</th>
          <th>Total do Dia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Segunda</td>
          <td>01/08/2025</td>
          <td>08:00 - 12:00</td>
          <td>13:30 - 17:30</td>
          <td>8h</td>
        </tr>
        <!-- Repita para os dias do mês -->
      </tbody>
    </table>
  </section>
</main>
</body>
</html>

